@media (min-width: 768px) {
    .col-md-2-3 {
        width: 64%;
    }
    .col-half {
        width: 48%;
    }
    .col-90 {
        width: 44%;
    }
    .col-md-1-3 {
        width: 33.3%;
    }
    .col-md-2-4 {
        width: 40%;
    }
    .container {
        width: 750px;
    }
    .content-align {
        vertical-align: 65px;
        text-align: left;
    }
    .align-txt {
        text-align: left;
        vertical-align: 80px;
    }
    .row-items {
        display: inline-block;
    }
    input {
        width: 60%;
        margin-right: 10px;
        border: 0;
        height: 40px;
        border-radius: 5px;
        padding-left: 15px;
    }
    .msg {
        margin-bottom: 40px;
        text-align: center;
    }
    .btn {
        height: 43px;
        width: 100px;
        border-radius: 5px;
        padding: 10px;
        font-weight: 700;
        border: 0;
        background: #fcdb00;
    }
    .line {
        display: inline-block;
        vertical-align: top;
    }
    .address {
        display: inline-block;
        color: #fff;
        text-align: left;
        margin-right: 10px;
        vertical-align: top;
    }
    .footer-links {
        display: inline-block;
        text-align: left;
        width: 64%;
    }
    footer a {
        display: block;
        color: #fff;
        text-decoration: none;
    }
}
@media (min-width: 992px) {
    .container {
        width: 960px;
    }
    .col-lg-2-3 {
        width: 64%;
    }
    .col-md-1-4 {
        width: 26%;
    }
    .col-lg-1-3 {
        width: 33.3%;
    }
    .col-lg-1-4 {
        width: 24%;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 960px;
    }
}
@media only screen and (min-width: 990px) and (max-width: 1200px) {
    #content {
        padding: 100px 0 10px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 989px) {
    #content {
        padding: 100px 0 10px;
    }
    .line {
        display: inline-block;
        width: 49%;
        vertical-align: top;
    }
    .address {
        display: inline-block;
        color: #fff;
        text-align: left;
        margin-right: 10px;
        vertical-align: top;
    }
    .footer-links {
        display: inline-block;
        text-align: left;
        width: 64%;
    }
    footer a {
        display: block;
        color: #fff;
        text-decoration: none;
    }
}
@media screen and (max-width: 767px) {
    .logo {
        float: none;
    }
    .align-txt {
        text-align: center;
    }
    .items {
        display: inline-block;
        width: 100%;
        max-width: 100%;
        vertical-align: top;
        min-width: 35px;
    }
    .float-items {
        text-align: center;
        margin-bottom: 10px;
    }
    nav a {
        display: block;
        text-align: center;
        float: none;
        width: 100%;
        cursor: pointer;
    }
    nav a:hover {
        background-color: #fcdb00;
    }

    footer a {
        display: block;
        color: #fff;
        text-decoration: none;
        margin-bottom: 5px;
    }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
}
@media only screen and (max-width: 479px) {
    .menu {
        width: 100%;
        margin: auto;
        margin-top: 13px;
        text-align: center;
    }
    .menu a {
        padding: 2px;
        color: #000;
        font-weight: 600;
        text-decoration: none;
        display: block;
    }
}