html, body{
	margin: 0;
	padding: 0;
	border: 0;
}
body {
	font-family: 'Source Sans Pro', sans-serif;
    line-height: 20px;
}
p.gray {
	color: #898989;
}
header {
	left: 0;
	right: 0;
	background: #fcdb00;
	z-index: 100;
	padding: 10px;
}
.header-icons {
	width: fit-content;
	margin: auto;
}
.header-icons > i {
	font-size: 40px;
	padding: 0 20px;
}
.fa-size {
	font-size: 40px;
}
.txt-center {
	text-align: center;
}
#content {
	padding-top: 85px;
	background: #fcdb00;
}
#content h1 {
	color: #222222;
}
#middle {
	background: #ffffff;
	padding: 110px 0;
}
#middle h1 {
	font-weight: 700;
	font-size: 30px;
	text-align: center;
}
#middle h2 {
	font-size: 20px;
	line-height: 20px;
    font-weight: 700;
	color: #000;
	margin: 0
}
footer {
    padding: 40px 0;
	background: #010101;
	color: #898989;
}
footer h1 {
	color: #fcdb00;
	font-weight: 700;
	font-size: 30px;
	text-align: center;
}
.container {
	margin-right: auto;
	margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.column {
	margin-right: 15px;
	margin-left: 15px;
	display: inline-block;
}
.float-items {
	text-align: left;
}
.items-space {
	margin-left: -15px;
	margin-right: -15px;
}
.padd {
    padding-left: 15px;
    padding-right: 15px;
}
.items {
	display: inline-block;
	width: 15%;
	vertical-align: top;
}
.items > .fa {
    font-size: 40px;
    text-align: center;
    display: block;
}
.description {
    max-width: 70%;
    padding-left: 15px;
    padding-right: 15px;
	display: inline-block;
}
.dive {
	text-align: center;
	font-size: 20px;
	line-height: 24px;
	margin: 20px 0 70px;
}
input {
    width: 97%;
    margin-bottom: 10px;
    border: 0;
    height: 40px;
    border-radius: 5px;
    padding-left: 15px;
}
.msg {
    margin-bottom: 40px;
}
.btn {
    height: 40px;
    width: 100px;
    border-radius: 5px;
    padding: 10px;
    font-weight: 700;
    border: 0;
    background: #fcdb00;
}
.footer-icons {
	text-align: center;
	font-size: 40px;
	color: #fcdb00;
	margin-bottom: 40px;
}
.footer-icons i {
	padding: 10px;
}
.address {
	display: block;
	color: #fff;
	text-align: center;
	margin-bottom: 10px;
}
.footer-links {
	text-align: center;
}
footer a {
	display: block;
    color: #fff;
	text-decoration: none;
}

/*-------------------------------SLIDESHOW-------------------*/
.slideshow {
 	max-width: 1000px;
  	position: relative;
  	margin: auto;
 }
.slides {
	display: none;
}
.dot {
	cursor: pointer;
	height: 15px;
  	width: 15px;
	margin: 0 2px;
	background-color: #fff;
	opacity: 0.6;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}
.dots {
    text-align: center;
    width: 100%;
    padding-bottom: 15px;
}
.active, .dot:hover {
	background-color: #fff;
	opacity: 1;
}
.img-size {
	width: 250px;
}
.slideshow {
	text-align: center;
	color: #fff;
	padding: 25px;
}

/*Animation*/
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}
@-webkit-keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
}
@keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
}

/*-------------------------------MENU------------------------*/
.menu {
	margin: auto;
	float: right;
	margin-top: 13px;
}
.menu a {
	padding: 14px 16px;
	color: #000;
	font-weight: 600;
	text-decoration: none;
}
.logo {
	float: left;
	display: inline-block;
}
.fix-header {
  width: 100%;
  top: 0;
  position: fixed;
}